

.flag{

    height: 300px;
    width: 500px;
    border: 1px solid black;
    margin: 250px 700px;
    

}
.row1,.row2,.row3{

    width:100%;
    height:100px;

}
.row1{

    background-color: orange;

}

   

.row3{

    background-color: green;

}

.ashokachakra{

  position: relative;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: 2px solid navy;
  left: 200px;
  display: flex;
  justify-content: space-between;


}

   

.ashokachakra .spoke{
    position: absolute;
    background-color: navy;
    width: 2px;
    height: 50%;
    top: 0;
  left: 50%;
  transform-origin: bottom center;
}

    


.spoke:nth-child(1)  { transform: rotate(0deg) translateX(-50%); }
.spoke:nth-child(2)  { transform: rotate(15deg) translateX(-50%); }
.spoke:nth-child(3)  { transform: rotate(30deg) translateX(-50%); }
.spoke:nth-child(4)  { transform: rotate(45deg) translateX(-50%); }
.spoke:nth-child(5)  { transform: rotate(60deg) translateX(-50%); }
.spoke:nth-child(6)  { transform: rotate(75deg) translateX(-50%); }
.spoke:nth-child(7)  { transform: rotate(90deg) translateX(-50%); }
.spoke:nth-child(8)  { transform: rotate(105deg) translateX(-50%); }
.spoke:nth-child(9)  { transform: rotate(120deg) translateX(-50%); }
.spoke:nth-child(10) { transform: rotate(135deg) translateX(-50%); }
.spoke:nth-child(11) { transform: rotate(150deg) translateX(-50%); }
.spoke:nth-child(12) { transform: rotate(165deg) translateX(-50%); }
.spoke:nth-child(13) { transform: rotate(180deg) translateX(-50%); }
.spoke:nth-child(14) { transform: rotate(195deg) translateX(-50%); }
.spoke:nth-child(15) { transform: rotate(210deg) translateX(-50%); }
.spoke:nth-child(16) { transform: rotate(225deg) translateX(-50%); }
.spoke:nth-child(17) { transform: rotate(240deg) translateX(-50%); }
.spoke:nth-child(18) { transform: rotate(255deg) translateX(-50%); }
.spoke:nth-child(19) { transform: rotate(270deg) translateX(-50%); }
.spoke:nth-child(20) { transform: rotate(285deg) translateX(-50%); }
.spoke:nth-child(21) { transform: rotate(300deg) translateX(-50%); }
.spoke:nth-child(22) { transform: rotate(315deg) translateX(-50%); }
.spoke:nth-child(23) { transform: rotate(330deg) translateX(-50%); }
.spoke:nth-child(24) { transform: rotate(345deg) translateX(-50%); }
