*{
    margin:0px;
    padding: 0 ;
}

body{
    padding:0 300px;
}
header{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    margin: 50px 0px;
    
    
}

header ul {
    
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
    flex-grow: 1;
    max-width: 800px;
    margin: 0;

}

ul li a{
    color: black;
    
    text-decoration: none;
    margin:0 30px;
}

ul img{
    margin-right: 40px;
}

header .icons{
    display: flex;
    color: gray;
    
}

header .icons a,i{
    text-decoration: none;
    color: gray;
    margin: 0px 20px;
    
}
header button{
    height: 30px;
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 10px;
    

}
.main{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.main .card1{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    align-content: center;
    height: 320px;
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);

}

.main .card1 img{
    height: 300px;
    width: 600px;
    border-radius: 10px;
}

.main .card1 .content{

    margin:  20px 0px 20px 30px;
    height: 300px;
    display: flex;
    flex-direction: column;
    
   
    
}

.content h1{
    font-size: 36px;
    font-weight: bold;
    margin: 10px 0px;

}
.content h2{
     margin: 10px 0px;

}
.content p{
    font-size: large;
    color: gray;
}

.content button{
    margin-top: 20px;
    width: 80px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    background-color: rgb(233, 218, 247);
    color: blueviolet;
}

.main .card2,.main .card3{
    padding: 10px;
    display: flex;
    border-radius: 10px;
    width: 48%;
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);
    height: 220px;

}

.main .card2 img,.main .card3 img{
    height: 200px;
    width: 300px;
    border-radius: 10px;
   

}

.main .card2 .content,.main .card3 .content{
     margin: 20px 0px 20px 30px;
    height: 300px;
}


.browsecategory>h1,.browsecategory>p{
    text-align: center;
    margin: 10px;
}

.browsecategory .button{
    display: flex;
    padding: 10px 230px;
    justify-content: space-between;
    margin: 30px;
}

.button button{
    padding: 5px 20px;
    border-radius: 30px;
    border: 0.5px solid gray;
    font-size: 17px;
    
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container .card{
    width: 410px;
    height: 500px;
}

.container .card img{
    height: 300px;
    width: 100%;
    border-radius: 20px;
    margin: 10px 0;
    
}

.container .card h1, .container .card p{
    margin: 10px 0;
}



.browsecategory .endbutton button{

    margin: 0 550px;
    width: 200px;
    padding: 10px 30px;
    border-radius: 10px;
    border: 0.5px solid gray;
    font-weight: bolder;
    
    
}

.authors{
    margin:30px 0;
}

.authors .authorsheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.authorsheader h1{
    font-size:x-large;
}

.authors .profiles{
    display: flex;
    flex-wrap: wrap;
    margin:  30px 0;
    justify-content: space-between;
    padding: 30px;
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);

}

.profiles img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.profile1,.profile2,.profile3{
    display: flex;
    border-radius: 10px;
    border: 0.2px solid rgb(247, 244, 244);
    padding: 10px;
    background-color: rgb(247, 244, 244);
}

.profiles .inf{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 20px 30px;
    
}

.subscribe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);

}

.subscribe .subscribeinf{
    width: 450px;

}


.subscribeinf h2, .subscribeinf p{
    margin: 10px 0;
}
.subscribe input{
    width:200px;
    height: 30px;
}

.subscribe button{
    width: 100px;
    height: 30px;
}

.subscription input, .subscription button{
    margin: 0 20px;
}
.subscription button{
    background-color: black;
    color: white;
    border-radius: 10px;
    font-weight: bolder;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    color: gray;
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);

}


footer ul{
    display: flex;
    
}
footer ul li {
    margin: 0px 20px;
}

footer .icons a{
    text-decoration: none;
    color: gray;
    margin: 10px;

}

